.popup__saved {
    display: flex;
    background-color: black;
    max-width: 358px;
    border: none;
    margin: 48px auto 37px;
    padding: 0;
    border-radius: 2px;
}
.popup__saved:hover {
    opacity: 80%;
}