.error_opened{
    opacity: 1;
    visibility: visible;
    max-width: 358px;
    font-weight: 400;
    line-height: 15px;
    color: #FF0000;
    font-size: 12px;
}
@media screen and (max-width: 435px) {
    .error_opened{
        max-width: 238px;
    }
}