.popup__container {
    background-color: #ffffff;
    border-radius: 10px;
    min-width: 430px;
    position: relative;
    box-shadow: 0px 0px 25px 0px #00000026;
}

@media screen and (max-width: 435px) {
    .popup__container {
        min-width: 282px;

    }
}