.popup__container {
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    padding: 34px 36px 36px;
    box-shadow: 0px 0px 25px 0px #00000026;
}

/* @media screen and (max-width: 435px) {
    .popup__container {
        min-width: 282px;

    }
} */