.profile {
    padding: 40px 0 50px;
    margin: auto;
    max-width: 880px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1024px) {
    .profile {
        max-width: 640px;  
    }
}

@media screen and (max-width: 650px) {
    .profile {
        padding: 42px 0 36px;
        max-width: 282px;
        display: flex;
        flex-direction: column;
    }
}
