.header {
    max-width: 880px;
    margin: 45px auto 0;
    padding: 0;
    border-bottom: 1px solid #545454;
    box-sizing: border-box;
}
@media screen and (max-width: 768px) {
    .header {
        max-width: 550px;
        margin: 28px auto 0;
    }
}
@media screen and (max-width: 650px) {
    .header {
        max-width: 320px;
        margin: 28px 0 0;
        height: 56px;
    }
}
