.profile__subtitle {
    color: #ffffff;
    max-width: 336px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 16px 0 0;
}

@media screen and (max-width: 650px) {
    .profile__subtitle {
        max-width: 282px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        padding: 14px 0 36px;
        margin: 0;
    }
}