.profile__add-button {
    border: 2px solid white;
    background: none;
    max-width: 150px;
    height: 100%;
    padding: 0;
    cursor: pointer;
}
.profile__add-button:hover {
    opacity: 60%;
}
@media screen and (max-width: 650px) {
    .profile__add-button  {
        min-width: 282px;
        align-self: center;
    }
}