.elements {
    margin: 0 auto;
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
    gap: 20px 17px;
    box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
    .elements {
        max-width: 750px;
    }
}
@media screen and (max-width: 750px) {
    .elements {
        max-width: 545px;
    }
}
@media screen and (max-width: 550px) {
    .elements {
        max-width: 282px;
    }
}

