.element__image {
    width: 282px;
    height: 282px;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
}

@media screen and (max-width: 750px) {
    .element__image {
        width: 100%;
     }
 }
