.form__container-texts {
    border: none;
    max-width: 358px;
    margin: 0 auto;
    padding: 0;
}
@media screen and (max-width: 435px) {
    .form__container-texts{
        margin: 0 auto;
        max-width: 238px;
    }
}