 /* .error{
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 3px;
}  */
.error{
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    min-height: 25px;
} 
