.profile__info {
    margin: 0 244px 0 0;
}
@media screen and (max-width: 1024px) {
    .profile__info {
        margin: 0; 
    }
}
@media screen and (max-width: 650px) {
    .profile__info {
        margin: 0 auto;
        padding: 22px 0 0;
    }
}