.element__like-button {
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 22px;
}
.element__like-button:hover {
    opacity: 50%;
}